.section {
    width: 100%;
}

.background--one {
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    & .block-section--one {
        width: 100%;
        display: block;
        text-align: center;
        
        & h1 {
            font-weight: 400;
            font-size: 22px;
            margin-bottom: 32px;
        }
    }
}

.background--two  {
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    
    .block-section--two {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: calc(10px - 60px);
        height: 100%;

        & img {
            max-width: 50%;
        }

        .text-block--two {
            height: 100%;
            text-align: center;

        }
    }
}